*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.main-1{
    background:blue;
    /* padding:20px; */
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    margin:0 auto;
    justify-content:space-between;
    /* padding:20px; */
}
.main-1 p{
    margin:30px;
    border:1px solid black;
    width:100%;
    text-align:center;
    padding:20px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    transition:all 3s;
}
.main-1 p:hover{
    background:black;
    color:#fff;
    border:none;
    font-style:italic;
}
